<app-navbar [isMobile]="isMobile" [isUserFormOpen]="isUserFormOpen">
</app-navbar>
<div class="container">
  <!-- <aside *ngIf="!isMobile || isSideBarOpen" class="sidebar menu-open"> -->

  <!--[@toggleSidebar]="!isMobile || isSideBarOpen ? 'show' : 'hide'"  -->
  <aside [@toggleSidebar]="sidebarState" class="sidebar menu-open">
    <app-sidebar [isMobile]="isMobile"></app-sidebar>
  </aside>

  <div (click)="hideModals()" class="content">
    <h3>
      Hello,
      <span id="username" data-id="">{{
        user === undefined ? "Visitor" : user.username
      }}</span>
    </h3>
    <app-search></app-search>

    <app-movie></app-movie>
    <!-- <div class="toast" style="display: none"></div> -->
    <div
      [@toggleToast]="toast.show ? 'show' : 'hide'"
      [ngStyle]="{ 'background-color': toast.success ? 'green' : '#b30505' }"
      class="toast"
    >
      {{ toast.msg }}
    </div>
  </div>
</div>
