#search input,
#search button {
  border-radius: 0.4rem;
  padding: 1rem;
  border: none;
  background-color: whitesmoke;
  margin-inline: 0.12rem;
}

#search button > i {
  color: rgb(194, 126, 1);
}

#search button:not([disabled]):active {
  background-color: rgb(219, 219, 219);
}
#search button:not([disabled]):hover {
  outline: 1px solid rgb(187, 186, 186);
}
#search input[type="text"]:focus {
  outline: 1px solid rgb(187, 186, 186);
}

.animate > i {
  animation: load-anim 1s infinite linear;
}

@keyframes load-anim {
  0% {
    transform: translateX(-5px);
  }

  25% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateX(-5px);
  }
}
